<h1>Create New User</h1>
<form action="http://localhost:3000/" method="post">

    <input type="text" name="name" required placeholder="name">
    <input type="email" name="email" required placeholder="email">
    <input type="text" name="department" required placeholder="department">
    <input type="text" name="phone" required placeholder="phone">

    <button type="submit">Submit</button>
</form>